{{#each events}}

    <article>
    {{this.event_name}}
        Start Date: {{this.start_date}}
    End Date: {{this.end_date}}
    Start Time: {{this.start_time}}
    End Time: {{this.end_time}}
    Description: {{this.description}}
    Location: {{this.location}}

        </article>
{{/each}}


<button><a href="/createevent">Create Event</button>
<button><a href="/all">My Events</button>

welcome, {{name}}