<section>
    <button><a href="/createevent">Create Event</button>
    <button><a href="/home">My Events</button>

    welcome, {{name}}

</section>

<!--{{#each events}}-->


<p>Event Name: {{this.event_name}}</p>
<p>Start Date: {{this.start_date}}</p>
<p>End Date: {{this.end_date}}</p>
<p>Start Time: {{this.start_time}}</p>
<p>End Time: {{this.end_time}}</p>
<p>Description: {{this.description}}</p>
<p>Location: {{this.location}}</p>


{{/each}}