<nav>
<ul>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/home">Home</a></li>

</ul>

</nav>



<section>
    <button><a href="/createevent">Create Event</a></button>
    <button><a href="/all">My Events</a></button>

    welcome, {{name}}

</section>


{{#each events}}


        <p>Event Name: {{this.event_name}}</p>
        <p>Start Date: {{this.start_date}}</p>
        <p>End Date: {{this.end_date}}</p>
        <p>Start Time: {{this.start_time}}</p>
        <p>End Time: {{this.end_time}}</p>
        <p>Description: {{this.description}}</p>
        <p>Location: {{this.location}}</p>


{{/each}}
