<body class="homebody">
<header>
<nav>


    <a href="/home">Home</a>
    <a href="/logout">Logout</a>

</nav>
</header>

<br><br><br>
<br>

<div class="homebuttonbox">
    <p>Welcome, {{name}}</p>
    <div class="row">
        <div class="twelve columns">

            <button><a href="/createevent">Create Event</button>
            <button><a href="/eventattendance">Event Attendance</button>

        </div>
    </div>
</div>

</body>


<br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="homebuttonbox">
<div class="row">

<div class="twelve columns">

{{#each events}}
        <p>Event Name: {{this.event_name}}</p>
        <p>Start Date: {{this.start_date}}</p>
        <p>End Date: {{this.end_date}}</p>
        <p>Start Time: {{this.start_time}}</p>
        <p>End Time: {{this.end_time}}</p>
        <p>Description: {{this.description}}</p>
        <p>Location: {{this.location}}</p>
    ---------------------------------------------------

{{/each}}
</div>
</div>
</div>