<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo">RSVP</a>
<ul class="right hide-on-med-and-down">
    <li><a href="/logout">Logout</a></li>
    <li><a href="/home">Home</a></li>

</ul>

<ul id="nav-mobile" class="side-nav">
<li><a href="/logout">Logout</a></li>
<li><a href="/home">Home</a></li>

</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>

<section>
    <button><a href="/createevent">Create Event</button>
    <button><a href="/home">My Events</button>

    welcome, {{name}}

</section>





<!--{{#each events}}-->


        <p>Event Name: {{this.event_name}}</p>
        <p>Start Date: {{this.start_date}}</p>
        <p>End Date: {{this.end_date}}</p>
        <p>Start Time: {{this.start_time}}</p>
        <p>End Time: {{this.end_time}}</p>
        <p>Description: {{this.description}}</p>
        <p>Location: {{this.location}}</p>


{{/each}}


<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>

