<body class="homebody">
<header>
<nav>


    <a href="/home">Home</a>
    <a href="/logout">Logout</a>

</nav>
</header>

<br><br><br>
<br>

<div class="homebuttonbox">
    <p>Welcome, {{this.name}}</p>
    <div class="row">

        <div class="twelve columns">

            <FORM>
                <input type="button" Value="Create Event" Onclick="window.location.href='/createevent'">
                <input type="button" Value="Event Attendance" Onclick="window.location.href='/eventattendance'">
                <button><a href="/myeventattendance">My Event Attendance</a></button>

            </FORM>

        </div>
    </div>
</div>

</body>


<br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="homebuttonbox">
    <div class="row">



<div class="twelve columns">

{{#each events}}

        <b>Event Name:</b> {{this.event_name}}<br>
        <b>Start Date:</b> {{this.start_date}}<br>
        <b>End Date:</b> {{this.end_date}}<br>
        <b>Start Time:</b> {{this.start_time}}<br>
        <b>End Time:</b> {{this.end_time}}<br>
        <b>Description:</b> {{this.description}}<br>
        <b>Location:</b> {{this.location}}<br><br>

    <form action="/createeventattendance" method="post">
        <input type="hidden" name="evt_id" value="{{this.id}}">
        <input type="hidden" name="user_id" value="">
        <input type="hidden" name="status" value="attending">
        <input id="commentbox" type="text" name="comments" placeholder="Comments Here (eg. Can't Wait)" value=""><br><br>
        <input type="hidden" name="event_name" value="{{this.event_name}}">
        <input type="hidden" name="name" value="">

        <button>Attend</button>

    </form>



{{/each}}
</div>
</div>
</div>

