<body class="signonbody">

<header>
    <h1 class="headername">RSVP</h1>
    <nav>

        <a href="#">Welcome, {{name}}</a>
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>


    </nav>
</header>

<br><br>

<div class="homebuttonbox">

    <div class="row">

        <div class="twelve columns">
            <br>

            <FORM>
                <input type="button" Value="Browse Events" Onclick="window.location.href='/home'">
                <input type="button" Value="Create Event" Onclick="window.location.href='/createevent'">
                <input type="button" Value="Event Attendance" Onclick="window.location.href='/eventattendance'">
                <input type="button" Value="My Event Attendance" Onclick="window.location.href='/myeventattendance'">
            </FORM>

        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>

<div class="createeventbox">
    <div class="row">

        <h1>Congrats! You created the following event:</h1>
        <img src='{{this.image}}'><br><br>
        <b>Event Name:</b> {{event_name}} <br><br>
        <b>The event is on</b> {{start_date}} and ends on {{end_date}}. <br><br>
        <b>The event will start at</b> {{start_time}} and <b>end</b> at {{end_time}} <br><br>
        <b>Event Description:</b> {{description}} <br><br>
        <b>Event Location:</b> {{location}} <br><br>


    </div>
</div>



</body>