

<div>

    <h1>Congrats! You created the following event:</h1>
    Event Name: {{event_name}} <br><br>
    The event is on {{start_date}} and ends on {{end_date}}. <br><br>
    The event will start at {{start_time}} and end at {{end_time}} <br><br>
    Event Description: {{description}} <br><br>
    Event Location: {{location}} <br><br>


    </div>